In [1]:
import pandas as pd
import numpy as np

# Import data set

# Challenge 1

In [2]:
pokemon = pd.read_csv("Pokemon.csv")

# Print first 10 rows of pokemon

In [3]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

# Extract values from Type 1 and Type 2

In [4]:
type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].unique()

distinct_values = set().union(type1, type2)

print(distinct_values)

{'Water', 'Electric', 'Dark', 'Ice', 'Ghost', 'Fire', 'Flying', 'Rock', 'Fairy', nan, 'Bug', 'Psychic', 'Dragon', 'Poison', 'Steel', 'Grass', 'Fighting', 'Normal', 'Ground'}

# CleanUp names that contain Mega

In [5]:
pokemon['Name'] = pokemon['Name'].str.replace('.*Mega', 'Mega')
pokemon.head(10)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7524\2918114618.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  pokemon['Name'] = pokemon['Name'].str.replace('.*Mega', 'Mega')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

# Calculate A/D Ratio

In [6]:
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

# Find the pokemon with the highest A/D Ratio

In [7]:
highest_ratio = pokemon['A/D Ratio'].idxmax()
pokemon_highest_ratio = pokemon.loc[highest_ratio, 'Name']
print("Pokémon with the highest A/D Ratio:", pokemon_highest_ratio)

Pokémon with the highest A/D Ratio: DeoxysAttack Forme

# Find the pokemon with the lowest A/D Ratio

In [8]:
lowest_ratio = pokemon['A/D Ratio'].idxmin()
pokemon_lowest_ratio = pokemon.loc[lowest_ratio, 'Name']
print("Pokémon with the lowest A/D Ratio:", pokemon_lowest_ratio)

Pokémon with the lowest A/D Ratio: Shuckle

# Create Combo Column

In [9]:
pokemon['Combo Type'] = np.where(pokemon['Type 2'].isna(),pokemon['Type 1'], pokemon['Type 1']+'-'+pokemon['Type 2'])

In [10]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

# Identify the pokemon whose A/D Ratio are among the top 5.

In [11]:
top_5 = pokemon.nlargest(5,'A/D Ratio')
top_5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

# For the 5 pokemon printed above, aggregate Combo Type and use a list to store the unique values.

In [12]:
pokemon_sorted = pokemon.sort_values('A/D Ratio', ascending=False)

# Select the top 5 rows with the highest A/D Ratio
top_5_pokemon = pokemon_sorted.head(5)

# Aggregate Combo Type values and store unique values in a list
combo_types = list(set(top_5_pokemon['Combo Type']))

print(combo_types)

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

# For each of the Combo Type values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

In [13]:
# your code here
mean_score = top_5.groupby('Combo Type').agg('mean')

# Print the mean scores
display(mean_score)

C:\Users\DELL\AppData\Local\Temp\ipykernel_7524\2556099667.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_score = top_5.groupby('Combo Type').agg('mean')

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,0.0,3.750
Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,1.0,9.000
Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,0.0,3.125
Water-Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,0.0,3.750

# Challenge 2

# Problem Solving Iteration 1

In [14]:
# Import libraries
import numpy as np
import pandas as pd

In [15]:
pokemon2 = pd.read_csv("Pokemon.csv")

In [16]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

In [17]:
# Select relevant columns for testing the hypothesis
selected_columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed',]

In [18]:
# Calculate the sum of abilities
sum_abilities = pokemon2[selected_columns].sum(axis=1)
print(sum_abilities)

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Length: 800, dtype: int64

In [19]:
pokemon2

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [20]:
# Compare the sum of abilities with the "Total" field
comparison = pd.DataFrame({'Sum_Abilities': sum_abilities, 'Total': pokemon2['Total']})
print(comparison)

     Sum_Abilities  Total
0              318    318
1              405    405
2              525    525
3              625    625
4              309    309
..             ...    ...
795            600    600
796            700    700
797            600    600
798            680    680
799            600    600

[800 rows x 2 columns]

In [21]:
# Check if the hypothesis holds true for all Pokémon
is_equal = comparison['Sum_Abilities'] == comparison['Total']
is_equal_all = is_equal.all()

In [22]:
# Print the result
print("Hypothesis holds true for all Pokémon:", is_equal_all)

Hypothesis holds true for all Pokémon: True

In [23]:
pokemon2

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Problem Solving Iteration 2

In [24]:
import pandas as pd
pokemon2 = pd.read_csv('pokemon.csv')

In [25]:
# Select the relevant columns for encoding
type_columns = ['Type 1', 'Type 2']

In [26]:
# Apply One Hot Encoding
encoded_data = pd.get_dummies(pokemon2[type_columns], prefix=type_columns)

In [27]:
# Concatenate the encoded data with the original dataset
encoded_pokemon2 = pd.concat([pokemon2, encoded_data], axis=1)

In [28]:
display(encoded_pokemon2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,0,0,0,0,1,0,0,0,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,0,0,0,0,1,0,0,0,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,0,0,0,0,1,0,0,0,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,0,0,0,0,1,0,0,0,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,...,0,0,0,0,0,0,0,0,0,0
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,...,0,0,0,0,0,0,0,0,0,0
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,...,1,0,0,0,0,0,0,0,0,0
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,...,0,0,0,0,0,0,0,0,0,0
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,...,0,0,0,0,0,0,0,0,0,1

# Problem Solving Iteration 3

In [29]:
import seaborn as sns
import matplotlib.pyplot as plt

# Calculate the correlation of 'Total' with each encoded type field
correlations = encoded_pokemon2.corr()['Total'][2:]

C:\Users\DELL\AppData\Local\Temp\ipykernel_7524\2336057384.py:5: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = encoded_pokemon2.corr()['Total'][2:]

In [30]:
# Rank the correlations in descending order
ranked_correlations = correlations.sort_values(ascending=False)

In [31]:
# Identify the Pokémon type with the highest correlation
top_type = ranked_correlations.index[0]

In [32]:
# Print the result
print("The Pokémon type with the highest correlation to 'Total' is:", top_type)

The Pokémon type with the highest correlation to 'Total' is: Sp. Atk

# Challenge 3

In [33]:
import pandas as pd
import numpy as np

In [34]:
orders = pd.read_csv("Orders.csv")

In [143]:
orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08